html, body {
    height: 100%;
    overflow: hidden
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-color: azure;
}
body {
    font-family: 1rem cursive, "Helvetica Neue",    Arial,    "Hiragino Kaku Gothic ProN",    "Hiragino Sans",    Meiryo,    sans-serif;
    color: #333333;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
}

h1 {
    font: 2rem cursive;
}

#total {
    color:brown;
}
#main{
    font-size: 1.1rem
}

button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:0.7em;display:inline-block;padding:0.8em 1em;transition:all 0.3s ease-in-out;text-align:center;
    font-family:comfortaa;font-weight:bold;width:50%;max-width: 240px;font-size:1.2rem}
    button:before, button:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
    button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
    button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
    button:hover:before, button:hover:after {width:calc(100% + 12px);
    height:calc(100% + 12px);border-color:#fff}
    button:hover {color:#353535;background-color:#fff;border-color:#fff}
    .panel {max-width:960px;text-align:center;position:relative;margin:auto;
}

footer {
    margin-top: auto;
    background-color: #cab64a;
    padding: 10px 0px;
    width: 100%;
}
header{
    margin-bottom: auto;
    background-color: #cab64a;
    padding: 10px 0px;
    width: 100%;
}
