<!DOCTYPE html>
<html id="content" lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="css/main.css">

    <title>Random Ramen</title>
</head>

<body>
    <header>　</header>

    <h1>
        Random Ramen
        <img src="images/ramen.svg" width="32" height="32">
    </h1>
    <div id="main">
        <!-- <h2>Please enter your name</h2> -->
        <!-- <input class="textbox" v-model="inputName" paceholder="ここに名前をいれてね！" @input="onInput" /><br><br> -->
        <button v-on:click="playgame" class="btn btn-flat">Touch!</button>
        <!-- <p>ボタンを押すと音がでるのでご注意ください</p> -->
        <p>ラーメン：<b>{{ main }} {{ mainAmount }}</b></p>
        <p>トッピング：<b>{{ side }} {{ sideAmount }}</b></p>
        <!-- <p>ドリンク：<b>{{ drink }} {{ drinkAmount }}</b></p> -->
        <div id="total">
            <p><b>合計金額： {{ totalAmount }}</b></p>
        </div>
    </div>

    <div id="margin">---設定（未実装）---</div>
    <div id="checklist">
        <input type="checkbox" id="menu1" value="ラーメン" v-model="checkedNames" checked="checked">
        <label for="ラーメン">ラーメン</label>
        <input type="checkbox" id="menu2" value="トッピング" v-model="checkedNames">
        <label for="トッピング">トッピング</label>
        <br>
        <span>設定: {{ checkedNames }}</span>
    </div>
    <footer>　</footer>

    <script>
        const button_se = new Audio('sound/gochuumonwodouzo_01.wav');
        const mainJson = [{ "id": "1", "name": "ラーメン(並)", "amount": 700 }, { "id": "2", "name": "ラーメン(中)", "amount": 800 }, { "id": "3", "name": "ラーメン(大)", "amount": 900 }];
        const sideJson = [{ "id": "1", "name": "玉子", "amount": 100 }, { "id": "2", "name": "ほうれん草", "amount": 100 }, { "id": "3", "name": "九条ネギ", "amount": 150 }];
        const drinkJson = [{ "id": "1", "name": "からだすこやか茶W", "amount": 200 }, { "id": "2", "name": "瓶ビール", "amount": 500 }];
        // ServiceWorker登録：https://developers.google.com/web/fundamentals/primers/service-workers/?hl=ja
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service_worker.js').then(function (registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function (err) {
                console.log('ServiceWorker registration failed: ', err);
            });
        }

        const main = new Vue({
            el: 'div#main',
            data: {
                inputName: '',
                main: '',
                mainAmount: '',
                side: '',
                sideAmount: '',
                drink: '',
                drinkAmount: '',
                totalAmount: '',
            },
            methods: {
                playgame: function () {
                    button_se.play();
                    // ここにランダムでメニューを決める
                    var mn = Math.floor(Math.random() * mainJson.length);
                    var sn = Math.floor(Math.random() * sideJson.length);
                    var dn = Math.floor(Math.random() * drinkJson.length);
                    this.main = mainJson[mn].name;
                    this.mainAmount = mainJson[mn].amount;
                    this.side = sideJson[sn].name;
                    this.sideAmount = sideJson[sn].amount;
                    // this.drink = drinkJson[dn].name;
                    // this.drinkAmount = drinkJson[dn].amount;
                    this.totalAmount = this.mainAmount + this.sideAmount + this.drinkAmount;
                    button_se.play();
                },
                onInput: function () {
                    this.main = '';
                    this.totalAmount = '';
                    this.mainAmount = '';
                    this.side = '';
                    this.sideAmount = '';
                    this.drink = '';
                    this.drinkAmount = '';
                    this.totalAmount = '';
                }
            }
        })

        const checkSetting = new Vue({
            el: 'div#checklist',
            data: {
                checkedNames: ['ラーメン', 'トッピング']
            }
        })
    </script>
</body>

</html>